{% extends 'base.html' %}

        <section>
        {% block content %}
            <h1 align="center">Сервис для организации и бронирования паркомест на автостоянках</h1>

            <h3 align="center">Приветствуем Вас на нашем сервисе.</h3>
            <p>     Тут Вы можете забронировать машиноместа на автостоянках Санкт-петербурга и Ленинградской области</p>
            <p>     После бронирования и оплаты доступ на территорию автостоянки будет Вам автоматически предоставлен по указанному номеру телефона.</p>
            <p>     Для доступа Вам просто нужно будет позвонить с зарегистрированного номера на номер,
            <p>     указанный в описании выбранной автостоянки и ворота автоматически откроются.</p>
        {% endblock %}
        </section>

</body>
</html>